body {
  background-color: black;
  color: white;
  font: 16px monospace, monospace;
}

header, main, footer {
  width: 100%; /* Ensure full width */
  max-width: 800px; /* Adjust max width as needed */
  text-align: center; /* Center align text */
}

a {
  color: #0096FF;
}